/** Colors **/
$light-black: #34495e;
$black: #000;
$white: #fff;
$very-light-grey: #eee;
$light-grey: #E3E3E4;
$grey: #ddd;
$greyCCC: #ccc;
$greyCED: #ced4da;
$dark-grey: #d3d1d1;
$very-dark-grey: #666;
$blue: #007bff;
$red: #ea3353;
$orange: #f39c12;
$green: #1abc9c;
$purple: #9b59b6;
$yellow: #f1c40f;